<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Score</th>
                <th>Title</th>
                <th>By</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let news of asyncNews | async" (click)="open(news)">
                <td>{{news.score}}</td>
                <td>{{news.title}}</td>
                <td>{{news.by}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row pull-right">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" aria-label="Previous" (click)="PreviousPage()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">{{p}}</a></li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="NextPage()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>
