<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Score</th>
                <th>Title</th>
                <th>By</th>
                <th>URL</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let news of _newsArray">
                <a>
                        <td>{{news.score}}</td>
                        <td>{{news.title}}</td>
                        <td>{{news.by}}</td>
                        <td><a href="{{news.url}}">Click</a></td>
                </a>

            </tr>
            </tbody>
        </table>
    </div>
</div>
