<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Score</th>
                <th>Title</th>
                <th>By</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let news of asyncNews | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }" (click)="open(news)">
                <td>{{news.score}}</td>
                <td>{{news.title}}</td>
                <td>{{news.by}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="has-text-centered">
        <div class="spinner pagination-bar" [ngClass]="{ 'hidden': !loading }"></div>
        <pagination-controls class="pagination-bar"  (pageChange)="getPage($event)" id="server"></pagination-controls>
    </div>
</div>
